.header-container {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  height: 60px;
  width: 95%;
  align-items: center;

  li {
    text-decoration: none !important;
  }

  .categories-container {
    display: flex;
    gap: 1rem;
  }

  .nav-icon-container {
    z-index: 999;
  }

  .iconsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .logo-container {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
  }
}
