.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 13px;

  .error-message{
    color: #9d0b0b;
    font-size: 12px;
    letter-spacing: 1.1px;
  }

  label {
    padding-bottom: 5px;
    padding-left: 5px;

    &[data-error="true"] {
      color: #d52323 !important;
    }
  }

  input {
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;

    display: flex;

    &:focus {
      outline: none;
      border: 1px solid #2b4f75;
    }

    &[data-align='center'] {
    }

    &[data-align='start'] {
      width: min-content;
    }
    &[data-error="true"] {
      border: 1px solid #d52323 !important;
      box-shadow: inset 0 0 15px 4px rgba(255, 0, 0, 0.2),
        0 0 10px 0 rgba(255, 0, 0, 0.2);
    }
  }
}